#!/usr/bin/make -f
# -*- makefile -*-

DEBVENDOR  := $(shell dpkg-vendor --query Vendor)

ifeq ($(DEBVENDOR), Qlustar)
    # Qlustar specific stuff
    include /usr/share/ql-deb-utils/Makefile
endif

%:
	dh $@ --with python2,python3

override_dh_auto_build:
	python setup.py build \
	  --slurm-lib=/usr/lib/$(DEB_HOST_MULTIARCH) \
	  --slurm-inc=/usr/include
